POSTGRES_DB_HOST=127.0.0.1
POSTGRES_DB_PORT=5432
POSTGRES_DB_NAME=saml_poc
POSTGRES_DB_USER=postgres
POSTGRES_DB_PASSWORD=your_password_here
POSTGRES_DB_SSL_ENABLED=False
POSTGRES_DB_SSL_PATH=postgresql_ssl_cert.pem
SAML_BASE_URL=https://your-domain.ngrok-free.dev

# Google OAuth
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=your_google_oauth_client_id
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=your_google_oauth_client_secret
SOCIAL_AUTH_GOOGLE_OAUTH2_REDIRECT_URI=https://your-domain.ngrok-free.dev/social-auth/complete/google-oauth2/
